:root {
  --pink: #D40242;
  --pink-light: #D93B63;
  --orange: #D27701;
  --orange-light: #FDC170;
  --green: #00B199;
  --green-light: #90CEA1;
  --blue: #0177D2;
  --blue-light: #01B4E4;

  --white: #F0F0FA;
  --muted: #D2D2DC;
  --background: #021322;
  --background--light: #001629;
}

body {
  background-color: var(--background--light);
  color: var(--white);
  overflow-x: hidden;
}

a {
  color: var(--orange);
}

a:hover, a:focus, a:active {
  color: var(--orange-light);
  text-decoration: none;
}

header {
  background-color: var(--background);
  padding: 1rem 2rem 0.5rem;
}

header h1 {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
  color: transparent;
  background: linear-gradient(to right, var(--green) 0%, var(--blue-light) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

header .subtitle {
  color: var(--muted);
  font-size: 1.2rem;
  font-weight: 300;
}

header .navbar .navbar-nav .nav-item {
  min-width: 150px;
  margin: auto;
}

header .navbar .navbar-nav .nav-item a.nav-link {
  font-size: 1.1rem;
  color: var(--white);
  padding: 0 1rem;
  text-align: center;
}

header .navbar .navbar-nav .nav-item a.nav-link.active {
  color: var(--pink);
  pointer-events: none;
  outline: none;
}

header .navbar .navbar-nav .nav-item a.nav-link:hover {
  color: var(--pink-light);
}

main {
  margin: auto !important;
  max-width: 1600px;
  padding: 1rem 6rem;
}

footer {
  padding: 3rem 2rem 1rem;
}

footer p {
  color: var(--muted);
  font-size: small;
  text-align: center;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--blue-light);
}

h3 {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--green);
}

section {
  padding: 0 1rem !important;
  margin: 1.5rem 0;
}

.btn.btn-primary {
  background: linear-gradient(to right, var(--green) 0%, var(--blue-light) 100%);
  border: none;
  transition: 0.5s;
}

.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
  background: linear-gradient(to right, var(--green) 0%, var(--green) 100%);
}

.btn.btn-info {
  background-color: transparent;
  border: none;
  color: var(--blue-light);
  padding: 0;
  vertical-align: unset;
}
.btn.btn-info:hover, .btn.btn-info:focus, .btn.btn-info:active {
  background-color: transparent !important;
  border: none;
  box-shadow: none;
  color: var(--orange-light) !important;
}

.text-info {
  color: var(--orange-light) !important;
}

strong {
  color: var(--green-light);
}

.infobox {
  border: 1px solid var(--orange-light);
  border-radius: 0.5rem;
  padding: 1rem 0.8rem;
}

button.timespan {
  display: block;
  background-color: transparent;
  border: 1px solid var(--muted);
  border-radius: 1.5rem;
  color: var(--muted);
  padding: 0.2rem 1.2rem 0.3rem;
  margin: 0.7rem 0;
  min-width: 65%;
  transition: 0.2s;
}
button.timespan:hover {
  color: var(--orange);
}
button.timespan.active {
  background-color: var(--orange-light);
  border-color: var(--orange-light);
  color: white;
  font-weight: 600;
}

.modal-dialog {
  max-width: 600px;
}

.modal-content, .modal-header, .modal-body, .modal-footer {
  background-color: var(--background--light);
  border-color: #123A5F;
  color: var(--muted);
}

#sidebar {
  height: calc(100% - 3rem);
  border-left: 1px solid var(--muted);
  padding-left: 2rem !important;
}

#charts .diagram {
  text-align: center;
}

#genres-departments-chart {
  max-width: 850px;
  margin: auto;
}

#home {
  padding: 2.5rem 3.5rem;
  text-align: justify;
}

#home .title {
  background: linear-gradient(to bottom right, var(--blue-light) 0%, var(--pink-light) 100%);
  max-width: 600px;
}

#home h2 {
  font-size: 7.5rem;
  font-weight: bold;
  padding: 0 3rem 1rem;
  color: rgba(255, 255, 255, 0.8);
}

#home .welcome {
  max-width: 650px;
  padding: 1rem 3rem;
}

@media (max-width: 768px) {
  #home .title {
    max-width: 100%;
  }

  #home h2 {
    font-size: 3rem;
  }

  main {
    padding: 1rem !important;
  }
}