:root {
  --pink: #D40242;
  --pink-light: #D93B63;
  --orange: #D27701;
  --orange-light: #FDC170;
  --green: #01C6AC;
  --green-light: #90CEA1;
  --blue: #0177D2;
  --blue-light: #01B4E4;

  --white: #F0F0FA;
  --muted: #D2D2DC;
  --background: #032541;
  --background--light: #022A4B;
}

body {
  background-color: var(--background);
  color: var(--white);
}

a {
  color: var(--orange);
}

a:hover {
  color: var(--orange-light);
  text-decoration: none;
}

.App {
  padding: 2rem 5rem;
}

@media (max-width: 768px) {
  .App {
    padding: 1.5rem;
  }
}

header h1 {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  /* font-size: 2rem; */
  margin-bottom: 0;
  color: transparent;
  background: linear-gradient(to right, var(--pink-light) 0%, var(--orange) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

header .subtitle {
  color: var(--muted);
  font-size: 1.2rem;
  font-weight: 300;
}

header .navbar .navbar-nav .nav-item a.nav-link {
  font-size: 1.2rem;
  color: var(--white);
  padding: 0 1rem;
  text-align: center;
}

header .navbar .navbar-nav .nav-item a.nav-link.active {
  color: var(--green);
  pointer-events: none;
  outline: none;
}

header .navbar .navbar-nav .nav-item a.nav-link:hover {
  color: var(--green-light);
}

footer {
  padding-top: 3rem;
}

footer p {
  color: var(--muted);
  text-align: right;
}

h2 {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--green-light);
}

section {
  background-color: var(--background--light);
  border-radius: 10px;
  padding: 1.5rem;
  margin: 1.5rem 0;
}

.btn.btn-primary {
  background-color: var(--pink);
  border: none;
  transition: 0.5s;
}

.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
  background-color: var(--pink-light);
}

#sidebar {
  height: calc(100% - 3rem);
}

#charts .diagram {
  text-align: center;
}