:root {
  --pink: #D40242;
  --pink-light: #D93B63;
  --orange: #D27701;
  --orange-light: #FDC170;
  --green: #01C6AC;
  --green-light: #90CEA1;
  --blue: #0177D2;
  --blue-light: #01B4E4;

  --white: #F0F0FA;
  --muted: #D2D2DC;
  --background: #032541;
  --background--light: #022A4B;
}

body {
  background-color: var(--background);
  color: var(--white);
}

a {
  color: var(--orange);
}

a:hover, a:focus, a:active {
  color: var(--orange-light);
  text-decoration: none;
}

.App {
  padding: 2rem 5rem;
}

@media (max-width: 768px) {
  .App {
    padding: 1.5rem;
  }
}

header h1 {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
  color: transparent;
  background: linear-gradient(to right, var(--pink-light) 0%, var(--orange) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

header .subtitle {
  color: var(--muted);
  font-size: 1.2rem;
  font-weight: 300;
}

header .navbar .navbar-nav .nav-item {
  min-width: 150px;
  margin: auto;
}

header .navbar .navbar-nav .nav-item a.nav-link {
  font-size: 1.1rem;
  color: var(--white);
  padding: 0 1rem;
  text-align: center;
}

header .navbar .navbar-nav .nav-item a.nav-link.active {
  color: var(--green);
  pointer-events: none;
  outline: none;
}

header .navbar .navbar-nav .nav-item a.nav-link:hover {
  color: var(--green-light);
}

footer {
  padding-top: 3rem;
}

footer p {
  color: var(--muted);
  text-align: right;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--green);
}

h3 {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--green-light);
}

section {
  background-color: var(--background--light);
  border-radius: 10px;
  padding: 1.5rem;
  margin: 1.5rem 0;
}

.btn.btn-primary {
  background-color: var(--pink);
  border: none;
  transition: 0.5s;
}

.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
  background-color: var(--pink-light);
}

.btn.btn-info {
  background-color: transparent;
  border: none;
  color: var(--blue-light);
  padding: 0;
  vertical-align: unset;
}
.btn.btn-info:hover, .btn.btn-info:focus, .btn.btn-info:active {
  background-color: transparent !important;
  border: none;
  box-shadow: none;
  color: var(--orange-light) !important;
}

.text-info {
  color: var(--pink-light) !important;
}

strong {
  color: var(--orange-light);
}

.infobox {
  border: 1px solid var(--pink-light);
  border-radius: 0.5rem;
  padding: 1rem 0.8rem;
}

button.timespan {
  display: block;
  background-color: transparent;
  border: 1px solid var(--muted);
  border-radius: 1.5rem;
  color: var(--muted);
  padding: 0.2rem 1.2rem 0.3rem;
  margin: 0.7rem 0;
  min-width: 65%;
  transition: 0.2s;
}
button.timespan:hover {
  color: var(--orange);
}
button.timespan.active {
  background-color: var(--orange-light);
  border-color: var(--orange-light);
  color: white;
  font-weight: 600;
}

.modal-dialog {
  max-width: 600px;
}

.modal-content, .modal-header, .modal-body, .modal-footer {
  background-color: var(--background--light);
  border-color: #123A5F;
  color: var(--muted);
}

#sidebar {
  height: calc(100% - 3rem);
}

#charts .diagram {
  text-align: center;
}

#genres-departments-chart {
  max-width: 850px;
  margin: auto;
}

#home {
  padding: 2.5rem 3.5rem;
  margin-top: 1.5rem;
  margin-right: 2rem;
  text-align: justify;
}